# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# local env files
.env*
.env
.env.local

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# generated native folders
/ios
/android
